---
import Layout from "../layouts/Layout.astro";
import { Content as ContentIndex } from "../content/meta/index.md";
---

<Layout>
  <div class="container"></div>
  <div class="texts">
    <button class="texts__close">[X]</button>
    <ContentIndex />
  </div>
</Layout>
