---
import { Content as ContentMenu } from "../content/meta/menu.md";
import { Content as Credits } from "../content/meta/credits.md";
import { SITE } from "../site-config";
---

<div class="option option--menu">
  <button class="button button--menu">
    <div class="button__svg button__svg--off">
      ?
    </div>
    <div class="button__svg button__svg--on none">
      ?
    </div>
  </button>
</div>

<header class="menu">
  <a href={SITE.titlelink} target="_blank" rel="noopener" class="title__link">{SITE.title}</a>
  <div class="menu__content">
    <ContentMenu />
  </div>
  <div class="credits">
    <Credits />
  </div>
</header>
