---
import { SITE } from "../site-config";
---

<div class="option option--sound">
  <button class="button button--sound">
    <div class="button__svg button__svg--off">
      <svg
        version="1.1"
        viewBox="0 0 1920 1920"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m175.2 0v1920l1569.6-959.94zm121.55 216.9 1214.9 743.16-1214.9 743.04v-1486.2z"
        ></path>
      </svg>
    </div>
    <div class="button__svg button__svg--on none">
      <svg
        version="1.1"
        viewBox="0 0 1920 1920"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m1920 0v1920h-1920v-1920zm-137.14 137.14h-1645.7v1645.7h1645.7z"
        ></path>
      </svg>
    </div>
  </button>
</div>

<audio class="sound sound--background" loop preload="auto">
  <source src="./sounds/background.mp3" type="audio/mpeg" />
</audio>
