---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

import { SITE } from "../site-config";

const { title = SITE.title, description, image, date } = Astro.props;
---

<!DOCTYPE html>
<html lang={SITE.lang}>
  <Head title={title} />
  <body>
    <Header />
    <slot />
    <Footer />
    <script>
      import "../scripts/global.js";
    </script>
  </body>
</html>
